@using Fitness_Diet_Reviewer.ViewModels
@model Fitness_Diet_Reviewer.ViewModels.FoodViewModel

@{
    ViewData["Title"] = "Edit";
}
<h1 class="text-center">Edit</h1>
<hr />
<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FoodId" />
            <div class="form-group mb-3">
                <label asp-for="FoodName" class="control-label"></label>
                <input asp-for="FoodName" class="form-control" />
                <span asp-validation-for="FoodName" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Proteins" class="control-label"></label>
                <input asp-for="Proteins" asp-format="{0:0.##}" class="form-control" />
                <span asp-validation-for="Proteins" class="text-danger"></span>
            </div>
            <div class="form-group  mb-3">
                <label asp-for="Carbohydrates" class="control-label"></label>
                <input asp-for="Carbohydrates" asp-format="{0:0.##}" class="form-control" />
                <span asp-validation-for="Carbohydrates" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Fats" class="control-label"></label>
                <input asp-for="Fats" asp-format="{0:0.##}" class="form-control" />
                <span asp-validation-for="Fats" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-6">
                    <button class="btn btn-primary w-100" type="submit">Edit</button>
                </div>
                <div class="col-6">
                    <a asp-action="Delete" asp-route-id="@Model.FoodId" class="btn btn-danger w-100">Delete</a>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="text-center">
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
