@using Fitness_Diet_Reviewer.ViewModels
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> Sign
@inject UserManager<ApplicationUser> UserLog

@{
    if(User.IsInRole("Administrator"))
    {
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-danger">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Administrator Menu</span>
                </a>
                <ul class="navbar-nav flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a asp-action="ViewProfile" asp-controller="Accounts" asp-route-id="@User.Identity.Name" asp-fragment="fitness-diet" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-body-text"></i> <span class="ms-1 d-none d-sm-inline">Your fitness diet</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a asp-controller="Foods" asp-action="Create" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-plus-circle"></i> <span class="ms-1 d-none d-sm-inline">Add new food</span>
                        </a>
                    </li>
                   
                    <li class="nav-item">
                        <a asp-controller="Accounts" asp-action="UsersList" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-people-fill"></i> <span class="ms-1 d-none d-sm-inline">Users List</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Accounts" asp-action="FitnessDietsList" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-hourglass-bottom"></i> <span class="ms-1 d-none d-sm-inline">Waiting for feedback</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Foods" asp-action="RequestedFoods" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-card-list"></i> <span class="ms-1 d-none d-sm-inline">Requested foods</span>
                        </a>
                    </li>
                    <li>
                        <a asp-action="ViewProfile" asp-controller="Accounts" asp-route-id="@User.Identity.Name" asp-fragment="guidelines" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-arrow-up-right-square-fill"></i> <span class="ms-1 d-none d-sm-inline">Guidelines from instructors</span>
                        </a>
                    </li>
                </ul>
                <hr>
            </div>
        </div>
    }
    if (User.IsInRole("Fitness Instructor"))
    {
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-primary">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Fitness Instructor Menu</span>
                </a>
                <ul class="navbar-nav flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a asp-controller="Accounts" asp-action="UsersList" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-people-fill"></i> <span class="ms-1 d-none d-sm-inline">Users List</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Accounts" asp-action="FitnessDietsList" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-hourglass-bottom"></i> <span class="ms-1 d-none d-sm-inline">Waiting for feedback</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Foods" asp-action="RequestedFoods" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-card-list"></i> <span class="ms-1 d-none d-sm-inline">Requested foods</span>
                        </a>
                    </li>
                </ul>
                <hr>
            </div>
        </div>
    }
    if (User.IsInRole("User"))
    {
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">User Menu</span>
                </a>
                <ul class="navbar-nav flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a asp-action="ViewProfile" asp-controller="Accounts" asp-route-id="@User.Identity.Name" asp-fragment="fitness-diet" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-body-text"></i> <span class="ms-1 d-none d-sm-inline">Your fitness diet</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Accounts" asp-action="UsersList" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-people-fill"></i> <span class="ms-1 d-none d-sm-inline">Users List</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Foods" asp-action="RequestFood" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-person-raised-hand"></i> <span class="ms-1 d-none d-sm-inline">Request a new food</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Foods" asp-action="RequestedFoods" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-card-list"></i> <span class="ms-1 d-none d-sm-inline">Requested foods</span>
                        </a>
                    </li>
                    <li>
                        <a asp-action="ViewProfile" asp-controller="Accounts" asp-route-id="@User.Identity.Name" asp-fragment="guidelines" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-arrow-up-right-square-fill"></i> <span class="ms-1 d-none d-sm-inline">Guidelines from instructors</span>
                        </a>
                    </li>
                </ul>
                <hr>
            </div>
        </div>
    }
}


